/* Неон */

:root.theme-dark {
  /* Фоны */

  --image-background: url(../images/cover-image-dark.png);
  
  /* Цвета */

  --color-primary: #ff0070;
  --color-secondary: #db00ff;
  --color-background: #000028;
  --color-text: #f1b2ce;
  --color-text-invert: #000028;
  --color-decor-border: #ff0070;
  --color-menu-button: #ff0070;
  --color-menu-button-hover-border: #ff0070;
}
