/* Светлая тема */

:root.theme-light {
  /* Фоны */

  --image-background: url(../images/cover-image-light.png);

  /* Цвета */

  --color-primary: #ff8dcb;
  --color-secondary: #ffc2e6;
  --color-background: #fff1f7;
  --color-section-heading: #353430;
  --color-text: #353430;
  --color-text-invert: #353430;
  --color-decor-border: #353430;
  --color-menu-button: #353430;
  --color-menu-button-hover-border: rgba(50, 49, 45, 0.4);
}

/* Шапка сайта */

.theme-light .header__text-decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Фоны */

    --image-background: url(../images/cover-image-light.png);

    /* Цвета */

    --color-primary: #ff8dcb;
    --color-secondary: #ffc2e6;
    --color-background: #fff1f7;
    --color-section-heading: #353430;
    --color-text: #353430;
    --color-text-invert: #353430;
    --color-decor-border: #353430;
    --color-menu-button: #353430;
    --color-menu-button-hover-border: rgba(50, 49, 45, 0.4);
  }

  .header__text-decor {
    display: none;
  }
}
