/* Светлая тема */

:root.theme-light {
  /*Фоны*/
  --image-background: url(../images/cover-image-light.png);
  /*Цвета*/
  --color-primary:#FF8DCB;
  --color-secondary: #FFC2E6;
  --color-background: #FFF1F7;
  --color-text: #353430;
}