/* Основные стили проекта. Mobile First. */

/*Основная страница*/
.page {
  background-color: var(--color-background);
  background-image: var(--image-background);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*Шапка сайта*/
.header {
  inline-size: 100%;
  padding: var(--page-padding);
  block-size: calc(100vh - var(--page-padding));
  min-block-size: 668px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1.1875fr 1fr 1.1875fr;
}
