/* Основные стили проекта. Mobile First. */

/* Основная страница */
.page {
  background-color: var(--color-background, #000028);
  background-image: var(
    --image-background,
    url(../images/cover-image-dark.png)
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Шапка сайта */

.header,
.footer {
  position: relative;
  padding: var(--page-padding, 10px);
  inline-size: 100%;
  block-size: calc(100vh - var(--page-padding, 10px));
  min-block-size: var(--full-screen-heqight, 668px);
}

.header {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1.1875fr 1fr 1.1875fr;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-color: var(--color-decor-border, #ff0070);
}

.decorated-zone::before {
  top: var(--page-padding, 10px);
  right: var(--page-padding, 10px);
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
}

.decorated-zone::after {
  bottom: var(--page-padding, 10px);
  left: var(--page-padding, 10px);
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.header__text-decor {
  position: absolute;
  top: var(--page-padding, 10px);
  right: calc(var(--page-padding, 10px) + 9px);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--color-primary, #ff0070);
  line-height: 1.445;
}

.header__text-decor::after {
  content: '';
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px currentColor;
  background: currentColor;
}

.header__theme-menu {
  justify-self: flex-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--menu-gap);
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0 13px 3px; /* Паддинг снизу - фикс для PixelPerfect */
  color: var(--color-menu-button, #ff0070);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  transition-duration: 0.3s;
  transition-property: border;
  cursor: pointer;
  inline-size: auto;
  min-inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--color-menu-button-hover-border, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: var(--color-menu-button, #ff0070);
}

.header__title {
  align-self: end;
}

.title {
  color: var(--color-secondary, #db00ff);
  font-weight: 800;
  font-size: var(--h1-font-size, calc(6.2222rem + 1.067vw));
  line-height: var(--h1-line-height, 0.825);
  text-shadow: 4px 4px 0 var(--color-primary, #ff0070);
}

.header__description {
  align-self: center;
}

/* Секции с текстом */

.main {
  padding: 0 var(--page-padding, 10px);
}

.text-section__section-heading {
  color: var(--color-section-heading, #ff0070);
  font-size: var(--font-size, 18px);
}

.accent-text {
  color: var(--color-text-invert, #000028);
  font-weight: bold;
  font-size: var(--font-size, 18px);
  background-color: var(--color-primary, #ff0070);
}

.content-part__heading {
  font-weight: normal;
}

.text-section__paragraph a {
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0 var(--color-primary, #ff0070);
}

.text-section__paragraph a:hover {
  border-bottom: 0.056em solid currentColor; /* text-decoration не подоёдет, так как у линии тоже будет тень, которой в макете нет */
}

.text-section__paragraph a:focus {
  outline: none;
}

.text-section__paragraph a:focus-visible {
  outline: 1px solid currentColor;
}

.text-section,
.gallery-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.text-section {
  gap: calc(var(--section-gap, 10px) * 2);
  padding-top: var(--section-padding);
}

.text-section:first-child {
  padding-top: calc(var(--section-padding, 50px) - var(--section-gap, 10px));
}

.section__content,
.section__content-part {
  display: flex;
  flex-direction: column;
}

.section__content {
  gap: calc(var(--section-gap, 10px) * 2);
}

.section__content-part {
  gap: var(--section-gap, 10px);
}

/* Галерея */

.gallery-section {
  gap: var(--gallery-gap, 10px);
  padding: var(--section-padding, 50px) 0
    calc(var(--section-padding, 50px) - var(--section-gap, 10px));
}

.gallery-section_img {
  inline-size: 100%;
  block-size: auto;
}

/* Подвал */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--page-padding, 10px);
}

/* PixelPerfect Fix */

.footer__title {
  margin-top: 2px;
}

/* Версия для планшета */

@media (min-width: 768px) {
  /* Шапка для планшетов */

  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
  }

  .header__theme-menu,
  .header__title {
    grid-column: 1/3;
  }

  .header__title {
    margin-left: calc(0px - var(--page-padding, 20px));
  }

  .header__description {
    grid-column: 2/3;
  }

  /*Текст для планшетов*/
  .text-section {
    grid-template-columns: 1fr 2fr;
    padding-top: calc(
      var(--section-padding, 60px) + (2 * var(--section-gap, 10px))
    );
  }

  .text-section:first-child {
    padding-top: var(--section-padding, 60px);
  }

  .section__title {
    grid-column: 1/2;
  }

  .section__content {
    grid-column: 2/3;
  }

  .columnar-text .section__content {
    grid-column: 1/3;
  }

  /* Галерея для планшетов */

  .gallery-section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: calc(var(--section-padding, 60px) + (2 * var(--section-gap, 10px)))
      0 var(--section-padding, 60px);
  }

  .gallery-section__section-heading {
    grid-column: 1 / 4;
  }

  .gallery-section_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery-section_img:nth-child(2) {
    grid-column: span 2;
    grid-row: 2 / 3;
  }

  .gallery-section_img:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: span 2;
  }

  .gallery-section_img:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: span 2;
  }

  .gallery-section_img:nth-child(5) {
    aspect-ratio: 1 / 1;
  }

  .gallery-section_img:nth-child(6) {
    grid-column: span 2;
  }

  /* Подвал планшета */

  .footer__title {
    margin-top: 0;
  }
}

/* Версия для дестопа */

@media (min-width: 1024px) {
  /* Меню для десктопа */

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu-button {
    padding: 0;
  }

  /* Текст для десктопа */

  .text-section:not(.columnar-text) {
    grid-template-columns: 1fr fit-content(66%);
  }

  .columnar-text .section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
