/* Переменные */

:root {
  /*Фоны*/
  --image-background: url(../images/cover-image-dark.png);
  /*Цвета*/
  --color-primary:#FF0070;
  --color-secondary: #DB00FF;
  --color-background: #000028;
  --color-text: #F1B2CE;
  --color-text-invert: #000028;
  --color-decor-border: #FF0070;
  --color-menu-button: #FF0070;
  --color-menu-button-hover-border: rgba(255, 0, 112, 0.4); 
  /*Типографика*/
  --font-family: 'IBM Plex mono';
  --font-size: 18px;
  --line-height: 1.3;
  /*Заголовки*/
  --h1-font-size: clamp(6.4445rem, 6.2222rem + 1.067vw, 6.6667rem);
  --h1-line-height: 0.825;
  /*Размеры*/
  --page-padding: 10px;
  --section-padding: 40px;
  --section-gap: 10px;
  --gallery-gap: 10px;
  --full-screen-heqight: 668px;
}

/*Переменные для планшета*/
@media (min-width: 768px) {
  :root {
    /*Размеры lkz gkfyitnf*/
    --page-padding: 20px;
    --section-padding: 60px;
    --gallery-gap: 20px;
    --full-screen-heqight: 1024px;
  }
}

/*Переменные для дестопа*/
@media (min-width: 1024px) {
}