/* Переменные */

:root {
  /*Фоны*/
  --image-background: url(../images/cover-image-dark.png);
  /*Цвета*/
  --color-primary:#FF0070;
  --color-secondary: #DB00FF;
  --color-background: #000028;
  --color-text: #F1B2CE;
  /*Типографика*/
  --font-family: 'IBM Plex mono';
  --font-size: 18px;
  --line-height: 1.3;
  /*Размеры*/
  --page-padding: 10px;
}
